.brands{
    width: inherit;
	&__slider{
        @include flex(row,center,start);
        width: 100%;
        margin-left: -25%;
        div{
            min-width: 25%;
            text-align: center;
            img{
                max-width: 100%;
              
            }
        }
      
    }
}

