.brands{
    width: inherit;
	&__slider{
        @include flex(row,center,start);
        width: 100%;
        margin-left: -22%;
        div{
            min-width: 22%;
            img{
                max-width: 90%;
              
            }
        }
      
    }
}

