.header{
    @include flex(column,center,center);
    padding-top: 10px;
    &__log{
        margin-bottom: 3px
    }

    &__search{
        input{
            width: 335px;
            height: 55px;
            outline: none;
            border: 1px solid #0000001f;
            border-radius: 4px;
            padding-left: 10px;
            letter-spacing: .5px;
            font-size: .9rem;
            transition: all .3s;
        }
        input:hover{
            border: 2px solid #000;
        }
        input:focus{
            border: 2px solid #fd611a;
        }
    }

    &__user{
        @include flex(row,center,center);
        gap: 30px;
        padding: 8px 0 0 0;
        button{
            border: none;
            background: #fd611a;
            color: #fff;
            height: 36px;
            width: 173.95px;
            border-radius: 4px;
            box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
            cursor: pointer;
            span{
                margin: 0 5px 0 0;
                background: #fff;
                border-radius: 100%;
                padding: 4px 6px;
                i{
                    color: #fd611a;
                }
            }
        }
        button:active{
            box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);;
            transition: box-shadow .5s;
        }
        .cart{
            font-size: 20px;
            height: 58px;
            cursor: pointer;
            #counter-cart{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #f44336;
                color: #fff;
                position: relative;
                font-size: 12px;
                left: 16px;
                top: 8px;
                text-align: center;
                font-weight: 500;
                p{
                    padding-top: 2px;
                }
            }
            .cart-style{
                position: absolute;
                width: 100%;
                min-height: 100vh;
                top: 0%;
                left: 0;
                @include flex(column,center,center);
                cursor: auto;
                z-index: 99;
                background: #f2f2f2d0;
                transform: translate(0%);
                transition: all 1s;
                .cart-tittle{
                    font-weight: 400;
                    text-shadow: 2px 2px 3px #5e5e5e;
                    margin: 3.5rem 0 1.5rem 0;
                }
                .cart-container{
                    background: #f2f2f2;
                    width: 80%;
                    min-height: 50vh;
                    @include flex(column,start,center);
                    padding: 1rem;
                    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),0 3px 1px 0 rgba(0,0,0,.12),0 2px 2px 0 rgba(0,0,0,.14);
                    border-radius: 24px;
                    div{
                        display: grid;
                        grid-template-areas:'img img img'
                                            'product product product' 
                                            'btnSubtract quantity btnSum'
                                            'delete delete delete'
                        ;
                        width: 100%;
                        margin-bottom: 30px;
                        background: #fff;
                        justify-items: center;
                        padding: 1rem;
                        box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),0 3px 1px 0 rgba(0,0,0,.12),0 2px 2px 0 rgba(0,0,0,.14);
                        height: 302px;
                        border-radius: 12px;
                        text-align: center;
                        button{
                            width: 100%;
                        }
                        img{
                            grid-area: img;
                        }
                        h2{
                            grid-area: product;
                            font-size: 1rem;
                        }
                        .btn-subtraction{
                            grid-area: btnSubtract;
                        }
                        .quantity{
                            grid-area: quantity;
                        }
                        .btn-sum{
                            grid-area: btnSum;
                        }
                        .btn-delete{
                            grid-area: delete;
                        }
                    }
                    div:hover{
                        transform: scale(1.03);
                        transition: all .5s;
                    }
                }
                .cart-open{
                    margin-top: .3rem;
                }
            }
            .hide-cart{
                transform: translateX(-100%);
            }
        }
    }
    .nav{
        background: #fd611a;
        height: 56px;
        width: 100%;
        @include flex(column,start,center);
        &__button{
            padding: 0 16px;
            font-size: 24px;
            color: #fff;
            cursor: pointer;
        }
        &__links{
            // display: none;
            width: inherit;
            background: #fd611a;
            position: absolute;
            top: 261px;
            padding: 0 42px;
            text-transform: uppercase;
            font-size: 13.2px;
            font-weight: 600;
            line-height: 33px;

            display: none;
            li{
                width: fit-content;
                cursor: pointer;
                a:hover{
                    color: #fff;
                }
                i{
                    padding-left: 5px;
                    font-size: 13px;
                }
                ul{
                    display: none;
                }
            }
        }
        .show-nav{
            display: inline-block;
            z-index: 1000;
        }
    }
}