
.main{
    .slider{
        width: 100%;
        overflow: hidden;
        &__container{
            width: 100%;
            display: flex;
            
            .slider__img{
                min-width: 100%;

                img{
                    min-width: 100%;
                }
            }

        }
        #slick-dots{
            @include flex(row,start,center);
            gap: 1.2rem;
            a{
                button{
                background: #FFD8C6;
                padding: 5px;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                }
                .btnActive{
                    background: #FD611A;
                }
            }
        }

    }

    .latest-new-products{
        overflow: hidden;
        padding: 15px 15px 70px 15px;
        
        &__tittle{
            color: #4E4D4D;
            text-transform: uppercase;
            font-weight: 600;
            font-family: 'Rajdhani', sans-serif;
            font-size: 27px;
            padding: 3px 0 20px 0;
            
        }
        &__tittle::after{
            content: ' ';
                display: block;
                width: 100%;
                border-bottom: 2.5px #4E4D4D solid;
        }

        .swiper-container{
            .swiper-wrapper{  
                justify-content: start;
                flex-direction: row-reverse; 
                .swiper-slide{        
                    text-align: center;
                    border-radius: 6px;
                    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),0 3px 1px 0 rgba(0,0,0,.12),0 2px 2px 0 rgba(0,0,0,.14);
                    height: 302px;

                    article{
                        height: 100%;
                        @include flex(column,center,center);
                        gap: 40px 0;
                        h2{
                            font-size: 14px;
                            font-weight: 600;
                        }
                        p{
                            color: #4675B9;
                        }
                    }
                }
            }

            .swiper-button-next{
                display: none;
            }
            .swiper-button-prev{
                display: none;
            }
        }
    }
    
}